

<div class="container">
  <button data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-plus"></span> Add New Album</button>
  <div id="demo" class="collapse" style="margin-top: 10px;">
    <form action="/new" method="post">
        <div class="form-group">
          <label for="email">Album Name:</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="artist">Artist:</label>
            <input type="text" class="form-control" id="artist">
          </div>
        <div class="form-group">
          <label for="released">Year released:</label>
          <input type="text" class="form-control" id="released">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
</div>