    <%- include('includes/header', pageTitle="Home Page") %>
    <div class="row text-center"><h2>Welcome to Best Albums</h2></div>
    <%- include('includes/albums-list', {albums: albumsDb.getAll()}) %>
    <%- include('includes/addnew') %>
    <%- include('includes/footer') %>    
