<ul class="list-group">
  <% albums.forEach(function(a) { %>
    <li class="list-group-item">
    <a href="/album/<%= a.id %>"><%= a.name %></a>
    - 
    <%= a.artist %>
    - 
    <%= a.released %>
    </li>
  <% }); %>
 </ul>